/* -----------------------------------button ------------------------ */
div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  font-size: 1.2rem !important;
  cursor: pointer;
}
code {
  font-size: 1.5rem !important;

  /*Mobile devices*/
  @media screen and(min-width:320px) and (max-width: 480px) {
    font-size: 8rem !important;
  }
}
